.container{
    display: flex;
    margin-top: 40px;
    margin: 5%;
    
}
.banner-item{
    text-align: center;
    background-color:chartreuse;
    color: white;
}
.banner-item:hover{
    color: red;
}
.half-width {
    width: 100%;
}

.half-width img {
    margin-left: 10%;
    width: 60%
}
.live-item{
    border-left: 10px solid palegreen;
    border-radius: 5px;
}
.text{
    padding: 40px;
    box-shadow: 5px 5px 5px 7px gainsboro;
    border-radius: 5px;
    font-size: 20px;
    color: goldenrod;
}
a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
    color: chocolate;

}

.orange-color {
    color: rgb(185, 181, 177);
}
.container2 {
    display: flex;
    margin-left: 5px;
    justify-content: space-around;
}

.half1 {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(33, 213, 60);
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}
.half2 {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(33, 192, 213);
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}
.half3 {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(213, 33, 171);
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}

.half1 img {
    width: 50%;
}
.half2 img {
    width: 50%;
}
.half3 img {
    width: 50%;
}

br {
    margin: 30px;
}

.head-line {
    text-align: center;
    color: rgb(36, 210, 30);
}
.containers{
    display: flex;
    margin-top: 30px;
}
.img-fulid{
    width: 75%;
    margin-left: 30px;
}
.text-title{
    margin-left: 0;
    margin-right: 200px;
}
.btn-title{
    color: white;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.containers4{
    display: flex;
    margin-top: 100px;
}
.text-titles{
    margin-top: 70px;
    margin-left: 25px;
}