.containe{
    display: flex;
    margin-top: 40px;
    margin: 5%;
    
}
.banner-item{
    text-align: center;
    background-color:chartreuse;
    color: white;
}
.banner-item:hover{
    color: red;
}
.half-width {
    width: 100%;
}

.half-width img {
    margin-left: 10%;
    width: 60%
}
.live-item{
    border-left: 10px solid palegreen;
    border-radius: 5px;
}
.text{
    padding: 40px;
    box-shadow: 5px 5px 5px 7px gainsboro;
    border-radius: 5px;
    font-size: 20px;
    color: goldenrod;
}
a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 15px 40px;
    border-radius: 8px;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
    color: chocolate;

}

.orange-color {
    color: rgb(185, 181, 177);
}
.container2 {
    display: flex;
    margin-left: 5px;
    justify-content: space-around;
}

.half1 {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(33, 213, 60);
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}
.half2 {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(33, 192, 213);
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}
.half3 {
    width: 370px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(213, 33, 171);
    box-shadow: 5px 5px 5px gray;
    border-left: greenyellow;
}

.half1 img {
    width: 50%;
}
.half2 img {
    width: 50%;
}
.half3 img {
    width: 50%;
}

br {
    margin: 30px;
}

.head-line {
    text-align: center;
    color: rgb(36, 210, 30);
}
.containers{
    display: flex;
    margin-top: 30px;
}
.img-fulid{
    width: 75%;
    margin-left: 30px;
}
.text-title{
    margin-left: 0;
    margin-right: 200px;
}
.btn-title{
    color: white;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.containers4{
    display: flex;
    margin-top: 100px;
}
.text-titles{
    margin-top: 70px;
    margin-left: 25px;
}
.person{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 100px;
    padding-top: 100px;
    border-radius: 20px;
    width: 100%;
    height: 400px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M208.1822542471825-77.35969766134241L205.70368737902544 64.63730311464678 347.70068815501463 67.11586998280384 350.17925502317166-74.88113079318535z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1128.5655051227056 120.78764793544269L1027.3744608152354 71.4334779556774 978.02029083547 172.62452226314772 1079.2113351429402 221.97869224291304z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1263.572%2c459.97C1283.617%2c459.15%2c1301.091%2c447.607%2c1311.256%2c430.311C1321.572%2c412.758%2c1323.219%2c391.781%2c1314.44%2c373.411C1304.191%2c351.966%2c1287.282%2c332.199%2c1263.572%2c330.534C1237.319%2c328.69%2c1210.912%2c342.009%2c1198.614%2c365.277C1186.936%2c387.372%2c1194.481%2c413.9%2c1208.618%2c434.508C1220.858%2c452.351%2c1241.952%2c460.854%2c1263.572%2c459.97' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M238.995%2c362.947C259.413%2c362.755%2c275.614%2c347.977%2c285.955%2c330.37C296.459%2c312.485%2c301.924%2c290.867%2c292.038%2c272.634C281.754%2c253.667%2c260.571%2c243.81%2c238.995%2c243.761C217.328%2c243.712%2c196.039%2c253.441%2c185.533%2c272.391C175.298%2c290.853%2c179.748%2c313.091%2c190.48%2c331.268C201.004%2c349.094%2c218.295%2c363.142%2c238.995%2c362.947' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M740.7481096749351 174.7676037449392L784.8739800662624 59.81578131839633 625.7962872483922 130.64173335361184z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1077.7907813369768 554.0756882328557L1144.4833230325196 474.5946120679535 1065.0022468676173 407.9020703724108 998.3097051720746 487.383146537313z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.img-fulids{
    width: 400px;
    margin-left: 30px;
}
.text-titler{
    margin-top: 9px;
    margin-left: 25px;
}
br {
    margin: 30px;
}

.head-line {
    text-align: center;
    color: chocolate;
}

.contacts {
    margin-top: 40px;
    box-shadow: 7px 5px 7px 5px gainsboro;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin-left: 8%;
    padding: 30px;
}

hr {
    width: 70%;
    margin: 10px;
    margin-left: 15%;
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.fa-facebook,
.fa-linkedin {
    color: blue;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.fa-youtube {
    color: red;
    background-color: white;
    border-radius: 50%;
    margin-right: 8px;
}

.fa-phone {
    color: aqua;
    margin-right: 8px;
}

.fa-tiktok,
.fa-github {
    margin-right: 8px;
}

.fa-copyright {
    color: blue;
    margin: 5px;
    size: 5px;
    align-items: center;
}

footer {
    margin-top: 40px;
    background-color: #000000;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    text-align: center;
}